body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    /* Header colors */

    h2 {
        color: #efac9e;
    }

    h3 {
        color: #5fbfd1;
    }
    
    /* Tag colors */
    a[data-content="#media"] {
        background-color: #5e4979;
        color: #dfdbe4;
    }

    a[data-content="#music"] {
        background-color: #794239;
        color: #efac9e;
    }

    a[data-content="#art"] {
        background-color: #005e6c;
        color: #5fbfd1;
    }

}
